USE [master]
GO
/****** Object:  Database [K58KTP]    Script Date: 4/15/2025 3:53:39 PM ******/
CREATE DATABASE [K58KTP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'K58KTP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\K58KTP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'K58KTP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\K58KTP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [K58KTP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [K58KTP]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 4/15/2025 3:53:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MaGV] [varchar](10) NOT NULL,
	[HoTen] [varchar](50) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopLHP]    Script Date: 4/15/2025 3:53:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopLHP](
	[MaLHP] [varchar](5) NOT NULL,
	[TenLop] [varchar](50) NULL,
 CONSTRAINT [PK_LopLHP] PRIMARY KEY CLUSTERED 
(
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 4/15/2025 3:53:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MaMH] [nchar](10) NOT NULL,
	[TenMH] [nvarchar](50) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TKB]    Script Date: 4/15/2025 3:53:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TKB](
	[IdTKB] [varchar](5) NOT NULL,
	[MaGV] [varchar](5) NULL,
	[MaLHP] [varchar](5) NULL,
	[MaMH] [varchar](7) NULL,
	[PhongHoc] [varchar](7) NULL,
	[Thu] [int] NULL,
	[TietBD] [int] NULL,
	[SoTiet] [int] NULL,
	[GioVao] [time](0) NULL,
	[GioRa] [time](0) NULL,
	[NgayHoc] [date] NULL,
 CONSTRAINT [PK_TKB] PRIMARY KEY CLUSTERED 
(
	[IdTKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GIAOVIEN] ([MaGV], [HoTen]) VALUES (N'01', N'N.V.HUY')
INSERT [dbo].[GIAOVIEN] ([MaGV], [HoTen]) VALUES (N'02', N'N.T.HUONG')
INSERT [dbo].[GIAOVIEN] ([MaGV], [HoTen]) VALUES (N'03', N'P.T.T.HIEN')
GO
INSERT [dbo].[LopLHP] ([MaLHP], [TenLop]) VALUES (N'01', N'58KTP')
INSERT [dbo].[LopLHP] ([MaLHP], [TenLop]) VALUES (N'02', N'60CNTDH2')
INSERT [dbo].[LopLHP] ([MaLHP], [TenLop]) VALUES (N'03', N'59KMT')
GO
INSERT [dbo].[MONHOC] ([MaMH], [TenMH]) VALUES (N' TEE0211  ', N'Tin học trong kỹ thuật')
INSERT [dbo].[MONHOC] ([MaMH], [TenMH]) VALUES (N'TEE0211   ', N'Tin học trong kỹ thuật')
INSERT [dbo].[MONHOC] ([MaMH], [TenMH]) VALUES (N'TEE0343   ', N'	Quản trị mạng')
GO
INSERT [dbo].[TKB] ([IdTKB], [MaGV], [MaLHP], [MaMH], [PhongHoc], [Thu], [TietBD], [SoTiet], [GioVao], [GioRa], [NgayHoc]) VALUES (N'01', N'01', N'03', N'TEE0479', N'	A9-204', 2, 3, 2, CAST(N'09:20:00' AS Time), CAST(N'12:00:00' AS Time), CAST(N'2025-05-03' AS Date))
INSERT [dbo].[TKB] ([IdTKB], [MaGV], [MaLHP], [MaMH], [PhongHoc], [Thu], [TietBD], [SoTiet], [GioVao], [GioRa], [NgayHoc]) VALUES (N'02', N'02', N'01', N'TEE0211', N'A10-101', 4, 3, 2, CAST(N'12:30:00' AS Time), CAST(N'15:10:00' AS Time), CAST(N'2025-05-04' AS Date))
INSERT [dbo].[TKB] ([IdTKB], [MaGV], [MaLHP], [MaMH], [PhongHoc], [Thu], [TietBD], [SoTiet], [GioVao], [GioRa], [NgayHoc]) VALUES (N'03', N'03', N'05', N'TEE415', N'A10-403', 3, 1, 2, CAST(N'12:30:00' AS Time), CAST(N'15:10:00' AS Time), CAST(N'2025-05-05' AS Date))
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_GIAOVIEN] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIAOVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_GIAOVIEN]
GO
ALTER TABLE [dbo].[LopLHP]  WITH CHECK ADD  CONSTRAINT [FK_LopLHP_LopLHP] FOREIGN KEY([MaLHP])
REFERENCES [dbo].[LopLHP] ([MaLHP])
GO
ALTER TABLE [dbo].[LopLHP] CHECK CONSTRAINT [FK_LopLHP_LopLHP]
GO
ALTER TABLE [dbo].[TKB]  WITH CHECK ADD  CONSTRAINT [FK_TKB_LopLHP] FOREIGN KEY([MaLHP])
REFERENCES [dbo].[LopLHP] ([MaLHP])
GO
ALTER TABLE [dbo].[TKB] CHECK CONSTRAINT [FK_TKB_LopLHP]
GO
USE [master]
GO
